!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Chairs"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link(href="favicon.ico" rel="shortcut icon")


  %body
    .container-fluid
      .row-fluid
        .span2
          %ul.nav.nav-tabs.nav-stacked
            %li= link_to "Home",     "/"
            %li= link_to "nearby",   "/"
            %li= link_to "settings", "/"
            %li= link_to "help",     "/"
        .span10
          =yield

      %footer
        %p
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
