!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Chairs"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/favicon.ico" rel="shortcut icon")

  %body
    #main{:data => {:role=> 'page'}}
      #header.ui-header{:data => {:role => 'header'}}
        %h1 Chairs
        :ruby
          refresh_opts = {
            'data-icon' => 'refresh',
            'class'     => 'ui-btn-left',
            'onclick'   => 'location.reload(true);',
          }
        = link_to 'Refresh', '/', refresh_opts
      #content.ui-content{:data => {:role => 'content'}}
        = yield
      #footer.ui-footer{:data => {:role => 'footer'}}
        %div{:data => {:role => 'navbar'}}
          - btn_class = 'ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a'
          - link_opts = {:data => {:iconpos => 'top', :theme => 'a'}, :class => btn_class}
          %ul
            %li
              - inner_span = capture_haml do
                %span.ui-btn-text Home
              - link_opts[:data][:icon] = 'home'
              = link_to inner_span, '/', link_opts
            %li
              - inner_span = capture_haml do
                %span.ui-btn-text About
              - link_opts[:data][:icon] = 'info'
              = link_to inner_span, '/about', link_opts
            %li
              - inner_span = capture_haml do
                %span.ui-btn-text Source
              - link_opts[:data][:icon] = 'star'
              = link_to inner_span, 'http://github.com/osamunmun/chairs', link_opts

    = javascript_include_tag "application"
    / for unexpected class :(
    :javascript
      $('#main').live('pageinit', function(e){
        $('li').removeClass('ui-li-static');
        $('.ui-btn-inner').removeClass('ui-li-static').removeClass('ui-btn-up-c');
      });
    = yield :javascript
